<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OOO_VioletEntities" connectionString="metadata=res://*/Classes.Violet.csdl|res://*/Classes.Violet.ssdl|res://*/Classes.Violet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.vm;initial catalog=OOO_Violet;user id=user;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OOO_VioletEntities1" connectionString="metadata=res://*/Classes.Flower.csdl|res://*/Classes.Flower.ssdl|res://*/Classes.Flower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EIBPO63;initial catalog=OOO_Violet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OOO_VioletEntities2" connectionString="metadata=res://*/Classes.Flower.csdl|res://*/Classes.Flower.ssdl|res://*/Classes.Flower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.vm;initial catalog=OOO_Violet;user id=user;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OOO_VioletEntities3" connectionString="metadata=res://*/Classes.Flower.csdl|res://*/Classes.Flower.ssdl|res://*/Classes.Flower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EIBPO63;initial catalog=OOO_Violet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>